*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#contenido{
    width: 300px;
    height: 100px;
    background-color: black;
    display: flex;


    justify-content: space-between;
    align-items: center;



}



.item{
    height: 50px;
    width: 50px;
    background-color: royalblue;
    border: 1px solid black;
}