
body{
    background-color: black;
}
.nav{
    height: 100px;
    width: 100%;
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
}


.nav-links{
    list-style-type: none;
    display: flex;
    align-items: center;



}

.nav a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

.nav-title{
    margin-left: 20px;
}


.btn{
    margin-right: 10px;
    height: 35px;
    width: 100px;
    background-color: #14a2b8;
    color: white;
    border: none;
    box-shadow: 5px 5px black;
    font-size: 15px;
}