*{
    padding: 0;
    margin: 0;
}
body{
    background-color: aqua;
    padding: 20px;
}

nav{
    background-color: silver;
    width: 1080px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;

}

#enlaces{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#buscador{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

main{
    width: 1080px;
    height: 100%;
    margin: 0 auto;
}


.contenedor{
    margin-top: 10px;
    width: 1080px;
    height: 60px;
    background-color: red;
}

.carrusel{
    width: 1080px;
}
