*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.top{
    background-color: #000000;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
}
.centered{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #999;
    margin-bottom: 40px;
}

.row{
    display: flex;
}

.left{
    flex: 1;
}

.user{
    padding: 20px;
    border: 2px solid #999;
    text-align: center;
}

.avatar-m{
    height: 120px;
    margin: 20px;
}

.rigth{
    flex: 2;
    margin-left: 30px;
}

.post{
    padding: 20px;
    margin-bottom: 30px;
    border: 2px solid #999;
}

.top-line{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-btn{
    background-color: #ffd966;
    padding: 5px 10px;
    border: 2px solid #000;
    box-shadow: 4px 4px #000;
    margin-left: 20px;
    cursor: pointer;
}